.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 100%;
  margin: 49px 0 5px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 503px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  font-weight: 700;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-1 .u-image-1 {
  min-height: 503px;
  background-image: url("images/85b1964c83f02372118342fa103762b7bb94e9cf1080d3c99dd9e77f5bf3d3afa990ae50c7c60fe64ceb7d0f912778990b395b4f8d19fdd6539b32_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 671px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 607px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 382px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 675px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 318px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  margin: 20px auto 0 108px;
  padding: 16px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 274px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 318px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 74px;
  height: 74px;
  margin: 0 118px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 36px 58px 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 278px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  width: 81px;
  height: 81px;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 278px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 35px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 19px auto 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 278px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 85px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 226px;
  }

  .u-section-2 .u-icon-2 {
    padding: 17px;
  }

  .u-section-2 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 262px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 93px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 229px;
  }

  .u-section-2 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 229px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 229px;
  }

  .u-section-2 .u-icon-6 {
    padding: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 60px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 66px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 7px;
    margin-right: 206px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    width: 92px;
    height: 92px;
    margin-top: 0;
    margin-right: 200px;
    padding: 24px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 27px 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 211px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-right: 151px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 13px;
    margin-right: 116px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 123px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 119px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 93px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 195px;
  }

  .u-section-2 .u-icon-6 {
    width: 76px;
    height: 76px;
    margin-top: 14px;
    padding: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 17px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-3 {
  border-color: transparent !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-3 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-4 {
  border-color: transparent !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-4 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-5 {
  border-color: transparent !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-5 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before,
.u-section-2 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-6.u-text-6.u-text-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-6 {
  border-color: transparent !important;
}

.u-section-2 .u-text-6.u-text-6.u-text-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-text-6 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 11px 224px 0 0;
}

.u-section-3 .u-image-1 {
  width: 533px;
  height: 483px;
  margin: 76px auto 0 37px;
}

.u-section-3 .u-list-1 {
  width: 470px;
  margin: -452px 18px 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 421px;
  grid-gap: 50px 50px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0px rgba(68,98,141,0.1);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 24px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 470px;
    margin-top: 69px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -451px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 52px;
    margin-right: 110px;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 376px;
    margin-top: 37px;
    margin-right: 145px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 487px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 3px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 70px;
    margin-left: 7px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 308px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-right: 0;
    margin-bottom: 33px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 778px;
}

.u-section-4 .u-shape-1 {
  height: 341px;
  margin: 0;
}

.u-section-4 .u-text-1 {
  margin: -281px auto 0 calc(((100% - 1140px) / 2) + 298px);
}

.u-section-4 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 20px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 427px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-list-item-2 {
  background-size: auto;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-2 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-2 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-list-item-3 {
  background-size: auto;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-3 {
  width: 254px;
  min-height: 166px;
  margin: -57px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-social-icons-3 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-4 .u-icon-7 {
  height: 100%;
}

.u-section-4 .u-icon-8 {
  height: 100%;
}

.u-section-4 .u-icon-9 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 763px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-4 .u-image-1 {
    height: 283px;
  }

  .u-section-4 .u-group-1 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-4 .u-social-icons-1 {
    width: 80px;
  }

  .u-section-4 .u-image-2 {
    height: 283px;
  }

  .u-section-4 .u-group-2 {
    width: 221px;
    margin-top: -35px;
  }

  .u-section-4 .u-social-icons-2 {
    width: 80px;
  }

  .u-section-4 .u-image-3 {
    height: 283px;
  }

  .u-section-4 .u-group-3 {
    width: 221px;
    min-height: 172px;
    margin-top: -35px;
  }

  .u-section-4 .u-social-icons-3 {
    width: 80px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1327px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1045px;
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-4 .u-image-1 {
    height: 335px;
  }

  .u-section-4 .u-group-1 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-4 .u-image-2 {
    height: 335px;
  }

  .u-section-4 .u-group-2 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-4 .u-image-3 {
    height: 335px;
  }

  .u-section-4 .u-group-3 {
    width: 240px;
    min-height: 189px;
    margin-top: -52px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2373px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 2102px;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-image-1 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-4 .u-group-1 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-image-2 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-4 .u-group-2 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-4 .u-image-3 {
    height: 581px;
    margin-top: 7px;
  }

  .u-section-4 .u-group-3 {
    width: 408px;
    margin-top: -128px;
    margin-bottom: -7px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1920px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1676px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-4 .u-image-1 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-4 .u-group-1 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-4 .u-image-2 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-4 .u-group-2 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .u-section-4 .u-image-3 {
    height: 387px;
    margin-top: 0;
  }

  .u-section-4 .u-group-3 {
    width: 250px;
    min-height: 207px;
    margin-top: -71px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 583px;
}

.u-section-5 .u-list-1 {
  width: 355px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 21px auto 0 23px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 541px;
  grid-gap: 20px 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-5 .u-image-1 {
  height: 357px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-group-1 {
  width: 254px;
  min-height: 166px;
  margin: -44px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 20px;
  min-height: 16px;
  width: 79px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-group-2 {
  width: 573px;
  min-height: 519px;
  height: auto;
  margin: -550px 30px 52px auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 12px;
}

.u-section-5 .u-icon-4 {
  width: 197px;
  height: 197px;
  margin: 50px auto 0;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-list-1 {
    margin-top: 76px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 80px;
  }

  .u-section-5 .u-group-2 {
    width: 463px;
    min-height: 463px;
    margin-top: -494px;
    margin-right: 32px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-2 {
    margin-top: 20px;
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -56px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 15px 17px 15px 7px;
  }

  .u-section-5 .u-image-1 {
    height: 405px;
    width: 335px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: -90px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 152px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 390px;
    width: 323px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -74px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
  min-height: 946px;
}

.u-section-6 .u-shape-1 {
  background-image: none;
  height: 499px;
  margin: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -425px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 812px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 967px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-6 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 124px auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 42px auto 0 15px;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/hggh-min.jpg");
  background-position: 50% 50%;
  margin: 92px 48px 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 812px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 260px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 887px;
  }

  .u-section-6 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 670px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 797px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 43px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 670px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 929px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    width: 210px;
    height: 210px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1771px;
  }

  .u-section-6 .u-shape-1 {
    height: 1064px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -990px;
    margin-bottom: 41px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 745px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 519px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 8px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1807px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 668px;
}

.u-section-7 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 548px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 484px;
  width: 535px;
  margin: 0 auto 0 -1px;
}

.u-section-7 .u-text-1 {
  margin: -483px 0 0 586px;
}

.u-section-7 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 20px auto 0 586px;
}

.u-section-7 .u-text-2 {
  margin: 40px 0 0 586px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: none;
  margin: 40px auto 0 586px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-7 .u-image-1 {
    height: 408px;
    width: 406px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -407px;
    margin-right: 178px;
    margin-left: 450px;
  }

  .u-section-7 .u-metadata-1 {
    width: auto;
    margin-left: 450px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 450px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-7 .u-blog-1 {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-7 .u-image-1 {
    height: 465px;
    width: 661px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 37px;
    margin-right: 167px;
    margin-left: -1px;
  }

  .u-section-7 .u-metadata-1 {
    margin-left: -1px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: -1px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-7 .u-blog-1 {
    margin-top: 53px;
    margin-bottom: 53px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 366px;
    width: 520px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 43px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-7 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-7 .u-blog-1 {
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-7 .u-image-1 {
    height: 225px;
    width: 320px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 30px;
    margin-right: 68px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 20px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 640px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  margin: 121px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 0;
}

.u-section-8 .u-text-4 {
  margin: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 168px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 251px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 0 auto;
}

.u-section-9 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-9 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-9 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-9 .u-icon-4 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-9 .u-icon-6 {
  font-size: 1.8126em;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 207px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-9 .u-social-icons-1 {
    height: 44px;
    width: 298px;
  }
}